Report/Solr_Workflow-eps-converted-to.pdf
Report/flies-eps-converted-to.pdf
Report/fly-eps-converted-to.pdf
Report/sig-alternate.aux
Report/sig-alternate.log
Report/sig-alternate.pdf
Report/sig-alternate.synctex.gz
















